<% content_for :title do %>
  <%= @issue.title %>
<% end %>

<% provide(:issue_active, 'active') %>
<%= render 'shared/navbar' %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10" style="margin-top: 15vh">
      <div class="card">
        <div class="card-body">
          <h3 class=""><%= @issue.title %></h3>
          <p class="text-muted">Created exactly <%= time_ago_in_words(@issue.created_at) %> ago</p>
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                   <th scope="col">#</th>
                   <th scope="col">Task</th>
                   <th scope="col">Owner</th>
                   <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @issue.id %></td>
                  <td><%= @issue.task.title %></td>
                  <% if @issue.user.name? %>
                    <td><%= link_to @issue.user.name, profile_path(@issue.user) %></td>
                  <% else %>
                    <td><%= link_to @issue.user.email ,profile_path(@issue.user) %></td>
                  <% end %>
                  <td>
                    <% if @issue.status == 'Active' %>
                      <div class="badge badge-info">Active</div>
                    <% elsif @issue.status == 'Solved' %>
                      <div class="badge badge-success">Solved</div>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="table-responsive">
            <table class="table">
              <tr>
                <%= sanitize @issue.description %>
              </tr>
            </table>
          </div>
          
          <%= link_to issues_path,:class=>"btn btn-sm btn-primary waves-effect waves-light ml-0" do %>
            <i class="fas fa-angle-left"></i>
          <% end %>

          <% if can? :update, @issue %>
            <%= link_to edit_issue_path(@issue),:class=>"btn btn-sm btn-success waves-effect waves-light" do %>
              <i class="fas fa-pen-nib"></i>
            <% end %>
          <% end %>
          
          <% if can? :destroy, @issue %>
            <%= link_to issue_path, data:{toggle: 'modal',target:'#large-Modal'} ,:class=>"btn btn-sm btn-danger waves-effect waves-light" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% end %>
          
          <%= link_to new_issue_path,:class=>"btn btn-sm btn-info waves-effect waves-light" do %>
            <i class="fas fa-angle-right"></i>
          <% end %>

            <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Issue Deletion</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h5>Are you sure to delete this Issue?</h5>
                    <br>
                    <p>Issue will be completely deleted, it can not be undone</p>
                   </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default waves-effect " data-dismiss="modal">Close</button>
                    <%= link_to "Delete Issue", issue_path, data: { toggle: 'modal',target:'#large-Modal' },method: :delete,:class=>"btn btn-danger btn-sm waves-effect waves-light" %>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="issue-comments">
  <% @comments.each do |comment| %>
    <div id="comment_pane" >
      <%= render 'comments/comment', comment: comment %>
    </div>
  <% end %>
</div>

<div class="container-fluid">
  <div class="row justify-content-center"style="padding-bottom: 0px">
    <div class="col-sm-10" >
      <div class="card mt-2 mb-2">
        <div class="card-body">
          <%= form_for([@issue, @issue.comments.build]) do |f| %>
            <%= f.trix_editor :body,:class=>"form-control",placeholder:'Do you know the solution?',rows:5  %>
            <div style="padding-top: 5px">
              <%= link_to "Back", issues_path, :class=>"btn btn-sm btn-secondary ml-0" %>
              <%= f.submit "Solve",:class=>"btn btn-sm btn-success ml-0" %>
            </div>
          <% end %>
        </div>
        </div>
    </div>
  </div>
</div>
