
<% content_for :title do %>
  <%= @task.title %>
<% end %>

<% provide(:task_active, 'active') %>
<%= render 'shared/navbar' %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10" style="margin-top: 15vh">
      <div class="card">
        <div class="card-body">
          <h3 class=""><%= @task.title %></h3>
          <p class="text-muted">Created exactly <%= time_ago_in_words(@task.created_at) %> ago</p>
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                   <th scope="col">#</th>
                   <th scope="col">Project</th>
                   <th scope="col">Assigned To</th>
                   <th scope="col">Deadline</th>
                   <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @task.id %></td>
                  <td><%= link_to @task.project.title, project_path(@task.project) %></td>
                  <% if @task.user.name? %>
                    <td><%= link_to @task.user.name, profile_path(@task.user) %></td>
                  <% else %>
                    <td><%=  link_to @task.userr.email, profile_path(@task.user) %></td>
                  <% end %>
                  <td><%= @task.deadline %></td>
                  <td>
                    <% if @task.status == 'Active' %>
                      <div class="badge badge-info">Active</div>
                    <% elsif @task.status == 'Finished' %>
                      <div class="badge badge-success">Finished</div>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="table-responsive">
            <table class="table">
              <tr>
                <%= sanitize @task.description %>
              </tr>
            </table>
          </div>
          
          <%= link_to tasks_path,:class=>"btn btn-sm btn-primary waves-effect waves-light ml-0" do %>
            <i class="fas fa-angle-left"></i>
          <% end %>
          
            <%= link_to edit_task_path(@task),:class=>"btn btn-sm btn-success waves-effect waves-light" do %>
              <i class="fas fa-pen-nib"></i>
            <% end %>
          
            <%= link_to task_path, data:{toggle: 'modal',target:'#large-Modal'} ,:class=>"btn btn-sm btn-danger waves-effect waves-light" do %>
              <i class="fas fa-trash"></i>
            <% end %>

            <%= link_to new_task_path,:class=>"btn btn-sm btn-info waves-effect waves-light" do %>
              <i class="fas fa-angle-right"></i>
            <% end %>

            <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Task Deletion</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h5>Are you sure to delete this Task?</h5>
                    <br>
                    <p>Task will be completely deleted, it can not be undone</p>
                   </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default waves-effect " data-dismiss="modal">Close</button>
                    <%= link_to "Delete Task", task_path, data: { toggle: 'modal',target:'#large-Modal' },method: :delete,:class=>"btn btn-danger btn-sm waves-effect waves-light" %>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>


