<% content_for :title do %>
  Submissions
<% end %>

<% provide(:work_active, 'active') %>
<%= render 'shared/navbar' %>

<div class="container-fluid" id="all-projects" style="padding-top: 11vh">
  <div class="row justify-content-center">
    <div class="col-sm-12 pb-5">
      <div class="float-right">
        
        <%= form_tag works_path, method: :get do %>
          <div class="input-group">
          <i class="fas fa-search mr-3 mt-2"></i>
            <%= text_field_tag :search, params[:search], :class=>'form-control', placeholder: 'Search submissions  '%>
          </div>
        <% end %>
      </div>
      <ul class="nav nav-pills">

      <li>
        <%= link_to root_path, :class=>"btn btn-secondary btn-md" do %>
          <i class="fas fa-angle-left"></i>
        <% end %>
       </li>


      <li>
        <a data-toggle="pill" href="#running" class="btn btn-primary btn-md">
        All Submissions
          <div class="badge badge-info ml-1">
              <%= @works.count %>
          </div>
        </a>
      </li>

        <li>
          <a data-toggle="pill" href="#mine" class="btn btn-primary btn-md">
          My Submissions
            <div class="badge badge-info ml-1">
                <%= current_user.works.count %>
            </div>
          </a>
        </li>

      <li>
        <%= link_to new_work_path, :class=>"btn btn-primary btn-md" do %>
            <i class="fas fa-plus-circle"></i>
        <% end %>
      </li>

      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 pb-5">
      <div class="tab-content">
        <div id="all" class="tab-pane active">
          <div class="row justify-content-center">
            <% if !@works.blank? %>
              <% @works.each do |work| %>
                <div class="col-sm-12 col-md-3 col-lg-3 mb-2">
                    <div class="card">
                      <div class="card-body">
                        <p><%= link_to truncate(work.title, length: 53), work,:class=>"text-dark link" %></p>
                        <hr class="my-1">
                        <p class="text-muted">Created at <%= work.created_at.strftime("%B, %d, %Y")%></p>
                      </div>
                    </div>
                </div>
              <% end %>
            <% else %>
              <div class="jumbotron">
                <h2 class="display-4">No Submission Found! <i class="far fa-sad-tear"></i></h2>
                <hr class="my-4">
                <p class="lead">Seems like nobody have submitted work yet</p>
                <%= link_to "Back", root_path, :class=>"btn btn-primary btn-sm" %>
                <span>Or</span>
                <%= link_to "Create New", new_work_path, :class=>"btn btn-success btn-sm" %>
              </div>
            <% end %>
          </div>
        </div>


        <div id="mine" class="tab-pane fade in">
          <div class="row justify-content-center">
            <% if !current_user.works.blank? %>
              <% current_user.works.each do |work| %>
                <div class="col-sm-12 col-md-3 col-lg-3 mb-2">
                    <div class="card">
                      <div class="card-body">
                        <p><%= link_to truncate(work.title, length: 53), work,:class=>"text-dark link" %></p>
                        <hr class="my-1">
                        <p class="text-muted">Created at <%= work.created_at.strftime("%B, %d, %Y")%></p>
                      </div>
                    </div>
                </div>
              <% end %>
            <% else %>
            <div class="jumbotron">
              <h2 class="display-4">You don't have any Submissions! <i class="far fa-sad-tear"></i></h2>
              <hr class="my-4">
              <p class="lead">Seems like manager you haven't submitted any task yet</p>
              <%= link_to "Back", root_path, :class=>"btn btn-primary btn-sm" %>
              <span>Or</span>
              <%= link_to "Create New", new_work_path, :class=>"btn btn-success btn-sm" %>
            </div>
            <% end %>
          </div>
        </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-3 col-lg-3 text-center">
        <nav aria-label="Page navigation example">
              <ul class="pagination pg-success justify-content-center">
                        <%= will_paginate(@works,
                        :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer,
                        inner_window: 1,
                        outer_window: 0,
                        class: 'text-center') %>
              </ul>
        </nav>
      </div>
    </div>
  </div>