<% content_for :title do %>
  <%= @work.title %>
<% end %>

<% provide(:work_active, 'active') %>
<%= render 'shared/navbar' %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10" style="margin-top: 15vh">
      <div class="card">
        <div class="card-body">
          <h3 class=""><%= @work.title %></h3>
          <p class="text-muted">Submitted exactly <%= time_ago_in_words(@work.created_at) %> ago</p>
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                   <th scope="col">#</th>
                   <th scope="col">Title</th>
                   <th scope="col">Task</th>
                   <th scope="col">Owner</th>
                   <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @work.id %></td>
                  <td><%= @work.title %></td>
                  <td><%= link_to @work.task.title, task_path(@work.task) %></td>
                  <% if @work.user.name? %>
                    <td><%= link_to @work.user.name, profile_path(@work.user) %></td>
                  <% else %>
                    <td><%= link_to @work.user.email, profile_path(@work.user) %></td>
                  <% end %>
                  <td>
                    <% if @work.task.status == 'Active' %>
                      <div class="badge badge-info">Pending</div>
                    <% elsif @work.task.status == 'Finished' %>
                      <div class="badge badge-success">Approved</div>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="table-responsive">
            <table class="table">
              <tr>
                <%= sanitize @work.description %>
              </tr>
            </table>
          </div>
          
          <%= link_to works_path,:class=>"btn btn-sm btn-primary waves-effect waves-light ml-0" do %>
            <i class="fas fa-angle-left"></i>
          <% end %>
          <% if can? :destroy, @work %>
            <%= link_to "Edit", edit_work_path, :class=>"btn btn-success btn-sm"%>
          <% end %>
          <% if can? :destroy, @work %>
            <%= link_to work_path, data:{toggle: 'modal',target:'#large-Modal'} ,:class=>"btn btn-sm btn-danger waves-effect waves-light" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% end %>

          <%= link_to new_work_path,:class=>"btn btn-sm btn-info waves-effect waves-light" do %>
            <i class="fas fa-angle-right"></i>
          <% end %>

            <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Delete Submission</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h5>Are you sure to delete this Submission?</h5>
                    <br>
                    <p>Submission will be completely deleted, it can not be undone</p>
                   </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default waves-effect " data-dismiss="modal">Close</button>
                    <%= link_to "Delete Now", work_path, data: { toggle: 'modal',target:'#large-Modal' },method: :delete,:class=>"btn btn-danger btn-sm waves-effect waves-light" %>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>