<% content_for :title do %>
	<% if @user.name? %>
		<%= @user.name %>
	<% else %>
  	<%= @user.email %>
  <% end %>
<% end %>

<%= render 'shared/navbar' %>

<div class="jumbotron jumbotron-fluid" style="min-height: 30vh;">
  <div class="container">
  	<div class="row"></div>
  </div>
</div>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col text-center" style="margin-top: -11vh">
      <% if @user.image_link? %>
			 <%= image_tag @user.image_link, :class=>"rounded-circle box-shadow", :size=>"140x140" %>
      <% else %>
        <%= image_tag("avatar.png",:class=>"rounded-circle box-shadow", :size=>"140x140") %>
      <% end %>
			<h1 class="display-6 mt-3">
			<% if @user.name? %>
				<%= @user.name %>
					<% else %>
				<%= @user.email %>
			<% end %>
    </h1>
    <p class="lead"><%= @user.title %></p>
    <p>
    	<% if @user.fb_link? %>
        <%= link_to "#{@user.fb_link}",:target=>"_blank" do %>
        	<i class="fab fa-facebook-f link px-2" style="display: inline;"></i>
        <% end %>
      <% end %>

    	<% if @user.twitter_link? %>
        <%= link_to "#{@user.twitter_link}",:target=>"_blank" do %>
        	<i class="fab fa-twitter link px-2"></i>
        <% end %>
      <% end %>

    	<% if @user.ig_link? %>
        <%= link_to "#{@user.ig_link}",:target=>"_blank" do %>
        	<i class="fab fa-instagram link px-2"></i>
        <% end %>
      <% end %>
    	
    	<% if @user.in_link? %>
        <%= link_to "#{@user.in_link}",:target=>"_blank" do %>
        	<i class="fab fa-linkedin-in link px-2"></i>
        <% end %>
      <% end %>

    	<% if @user.github_link? %>
        <%= link_to "#{@user.github_link}",:target=>"_blank" do %>
        	<i class="fab fa-github link px-2"></i>
        <% end %>
      <% end %>
    </p>
    <p class="text-muted">
      <%= @user.mobile_number %>
    </p>

    <% if @user.id == current_user.id %>
      <%= link_to "Edit Profile", edit_user_registration_path, :class=>"btn btn-warning btn-sm "%>
    <% end %>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-8 text-center">
			<% if @user.bio? %>
	    	<hr class="my-2">
	    	<p class="lead text-justify"><i class="fas fa-quote-left"></i> <%= @user.bio %> <i class="fas fa-quote-right"></i></p>
	    <% end %>

	    <% if @user.address? %>
	    	<p class="text-left text-muted">
	    		<i class="fas fa-map-marker-alt"></i> <%= @user.address %>
	    	</p>
	    <% end %>
    	<%= link_to "Back", root_path, :class=>"btn btn-success btn-block btn-sm mt-3"%>
  </div>
</div>
</div>