<% content_for :title do %>
  Login
<% end %>
<div id="particles-js">
    <div class="container" style="margin-top: 15vh">
      <div class="text-center"><%= image_tag('Logo.svg', :size=>"120x120") %></div>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 text-center" style="margin-top: 5vh">
            <h1 class="text-center text-white pb-5">Toluene</h1>
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-inputs">
                  <%= f.input :email,
                              label:false,
                              placeholder: 'Email',
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "email" } %>
                  <%= f.input :password,
                              label:false,
                              placeholder: 'Password',
                              required: false,
                              input_html: { autocomplete: "current-password" } %>
                </div>

                <div class="form-actions">
                  <%= button_tag type: 'submit', class: "btn btn-success btn-block" do %>
                      <i class="far fa-paper-plane"></i>
                  <% end %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
  </div>


<script>
        particlesJS('particles-js',
          {
            "particles": {
              "number": {
                "value": 80,
                "density": {
                  "enable": true,
                  "value_area": 800
                }
              },
              "color": {
                "value": "#ffffff"
              },
              "shape": {
                "type": "circle",
                "stroke": {
                  "width": 0,
                  "color": "#000000"
                },
                "polygon": {
                  "nb_sides": 5
                },
                "image": {
                  "src": "img/github.svg",
                  "width": 100,
                  "height": 100
                }
              },
              "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {
                  "enable": false,
                  "speed": 1,
                  "opacity_min": 0.1,
                  "sync": false
                }
              },
              "size": {
                "value": 5,
                "random": true,
                "anim": {
                  "enable": false,
                  "speed": 40,
                  "size_min": 0.1,
                  "sync": false
                }
              },
              "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#ffffff",
                "opacity": 0.4,
                "width": 1
              },
              "move": {
                "enable": true,
                "speed": 6,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "attract": {
                  "enable": false,
                  "rotateX": 600,
                  "rotateY": 1200
                }
              }
            },
            "interactivity": {
              "detect_on": "canvas",
              "events": {
                "onhover": {
                  "enable": true,
                  "mode": "repulse"
                },
                "onclick": {
                  "enable": true,
                  "mode": "push"
                },
                "resize": true
              },
              "modes": {
                "grab": {
                  "distance": 400,
                  "line_linked": {
                    "opacity": 1
                  }
                },
                "bubble": {
                  "distance": 400,
                  "size": 40,
                  "duration": 2,
                  "opacity": 8,
                  "speed": 3
                },
                "repulse": {
                  "distance": 200
                },
                "push": {
                  "particles_nb": 4
                },
                "remove": {
                  "particles_nb": 2
                }
              }
            },
            "retina_detect": true,
            "config_demo": {
              "hide_card": false,
              "background_color": "#b61924",
              "background_image": "",
              "background_position": "50% 50%",
              "background_repeat": "no-repeat",
              "background_size": "cover"
            }
          }
        );
      </script>