
<%= simple_form_for(@bug) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title,label: false,placeholder: 'What problem are you facing?' %>
    <br>
    <%= f.input :body ,as: :trix_editor, label: false, placeholder: 'Write relevant comments'%>
    <%= f.association :user,as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,:class=>"btn btn-success btn-md btn-sm ml-0" %>
    <%= link_to 'Back', bugs_path ,:class=>"btn btn-primary btn-md btn-sm" %>
  </div>
<% end %>
