<% content_for :title do %>
  All Bug Requests
<% end %>

<% provide(:bug_active, 'active') %>
<%= render 'shared/navbar' %>

<% if @bugs.blank? %>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-8" style="margin-top: 15vh">
        <div class="jumbotron">
          <h2 class="display-4">No Bugs Found!</h2>
          <hr class="my-4">
          <p class="lead">Seems like no bug haven't been created yet</p>
          <%= link_to "Back", root_path, :class=>"btn btn-primary btn-sm" %>
          <span>Or</span>
          <%= link_to "Create New", new_bug_path, :class=>"btn btn-success btn-sm" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-8" style="margin-top: 15vh">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Author</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @bugs.each do |bug| %>
                  <tr>
                    <td><%= link_to bug.title, bug %></td>

                    <% if bug.user.name? %>
                      <td><%= link_to bug.user.name, profile_path(bug.user) %></td>
                    <% else %>
                      <td><%= link_to bug.user.email, profile_path(bug.user) %></td>
                    <% end %>

                    <td><%= link_to 'Show', bug %></td>

                    <% if can? :destroy, @bug %>
                      <td><%= link_to 'Destroy', bug, data:{toggle: 'modal',target:'#large-Modal'} %></td>
                    <% end %>
                    <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Issue Deletion</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <h5>Are you sure to delete this Bug Request?</h5>
                            <br>
                            <p>Request will be completely deleted, it can not be undone</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default waves-effect " data-dismiss="modal">Close</button>
                            <%= link_to "Delete Request", bug, data: { toggle: 'modal',target:'#large-Modal' },method: :delete,:class=>"btn btn-danger btn-sm waves-effect waves-light" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
      <%= link_to 'Back', root_path,:class=>"btn btn-primary btn-sm ml-0" %>
      <%= link_to 'New Bug', new_bug_path,:class=>"btn btn-success btn-sm" %>
      </div>
    </div>
  </div>
<% end %>